#not_found_div{
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
#not_found_image{
    width: 40vw;
}
#not_found_text{
    font-size: 3.5vw;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 18px;
    color: #5271FF;
}
#not_found_subtext{
    font-size: 2vw;
    font-weight: 400;
    margin-bottom: 18px;
}
#not_found_buttontext{
    padding: 13px 19px;
    font-size: 1.5vw;
}