@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.background {
  background-image: url('./assets/photos/background.svg');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background-size: cover;
}

.back-arrow {
  background-color: #DBE2EF;
}

.back-arrow:hover {
  background-color: white;
}